/*
========================================================================================
    Nextflow config file for running nf-test tests
========================================================================================
*/

// Additional params/resource requirements for nf-test runs.
params {
    modules_testdata_base_path = 'https://raw.githubusercontent.com/nf-core/test-datasets/modules/data/'
    pipelines_testdata_base_path = 's3://ferlab-public-dataset/nextflow/Post-Processing-Pipeline/V7/'
}

aws.client.anonymous = true // fixes S3 access issues on self-hosted runners
