/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {

    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
        mode: params.publish_dir_mode,
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]

    withName: BCFTOOLS_FILTER {
        container = 'staphb/bcftools:1.20'
        ext.args = {'-e \'strlen(REF)>1 & strlen(REF)==strlen(ALT) & TYPE="snp"\' -Oz --write-index=tbi'}
        ext.prefix = {meta.id + ".filtered"}
    }

    withName: BCFTOOLS_NORM {
        container = 'staphb/bcftools:1.20'
        ext.args = {'-c w -d all -Oz --write-index=tbi'}
        ext.prefix = {meta.id + ".normalized"}
    }

    withName: COMBINEGVCFS {
        container = 'broadinstitute/gatk:4.5.0.0'
    }

    withName: EXOMISER { 
        container = 'exomiser/exomiser-cli:14.0.0-bash'
        publishDir = [
            path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
            mode: params.publish_dir_mode,
            pattern: "results/*{vcf.gz,vcf.gz.tbi,tsv,json,html}",
        ]
    }

}