/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run ferlab/postprocessing -stub -profile test,<docker/singularity> --outdir <OUTDIR>

    Note: We are using the -stub flag for now as our test setup is not ready yet. This 
    reduces test coverage. For local testing, please use real data and run in non-stub 
    mode if possible.
   
----------------------------------------------------------------------------------------
*/

params {
    config_profile_name        = 'Test profile'
    config_profile_description = 'Minimal test dataset to check pipeline function'

    // Limit resources so that this can run on GitHub Actions
    max_cpus   = 2
    max_memory = '6.GB'
    max_time   = '6.h'

    // Input data
    input  = "$projectDir/assets/TestSampleSheet.csv"
    outdir = "$projectDir/results"
 
    // Stub values are used for these parameters. They will be replaced with actual values when our test setup is ready.
    intervalsFile = "interval_long_local.list"
    broad = "broad"
    referenceGenome = "reference/Genome/directory"
    referenceGenomeFasta = "genome.fasta"
    vepCache = "vepCache"
}
